<!DOCTYPE html>
<html>
<head>
  <title>Totem</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  Signed in as <%= current_user.login %> | <%= link_to "Logout", '/logout' %>
  | <%= link_to "Categories", categories_path %>
  | <%= link_to "New Category", new_category_path %>
  | <%= link_to "Wins", wins_path %>
  | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
<div id="content"></div>

<script type=text/jsx>
var CommentBox = React.createClass({
  render: function() {
    return (
      <div className="commentBox">
        Hello, world! I am a CommentBox.
      </div>
    );
  }
});
React.render(
  <CommentBox />,
  document.getElementById('content')
);

</script>

</body>
</html>
